/* open-sans-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v40-latin-regular.woff2') format('woff2');
}
/* open-sans-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/open-sans-v40-latin-500.woff2') format('woff2');
}
/* open-sans-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v40-latin-700.woff2') format('woff2');
}
/* open-sans-800 - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/open-sans-v40-latin-800.woff2') format('woff2');
}

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
html, body {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #1D1D1B;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header{
	padding-bottom: 34px;
}

.header-header{
	height: 36px;
	background-color: rgba(248, 248, 248, 1);
	background-size: auto;
	margin-bottom: 34px;
}

.container{
	margin: 0px 400px;
	max-width: 1180px;
	overflow: hidden;
}

/* First line start */



.nav{
	text-decoration: none;
	color: rgba(29, 29, 27, 1);
	padding: 8px 0px;
	display: flex;
	align-items: center;
	font-weight: 400;
	font-size: 12px;
	padding-right: 24px;
}

.buyers img{
	height: 3px;
	width: 6px;
	margin-left: 11px;
}

.legal_entities img{
	height: 3px;
	width: 6px;
	margin-left: 11px;
	margin-right: 364px;
}

.city img{
	height: 16px;
	width: 11.2px;
	margin-right: 12.8px;
}
.number{
        align-self: flex-end;
}

.number img{
	height: 16px;
	width: 11.2px;
	margin-right: 16.8px;

}

.city{
	margin-right: 75px;
}

.First_line{
	height: 36px;
	background-color: rgba(248, 248, 248, 1);
	background-size: auto;
	margin-bottom: 34px;
	display: flex;
}

/* First line end */

/* Second line start */

.Second_line{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 34px;
}

.Second_line img{
	margin-right: 56px;
}

.header-input{
	display: flex;
	align-items: center;
}

.header-input input{
	padding: 17px 16px;
	width: 412px;
	font-size: 14px;
	outline: none;
	border: 1px solid rgba(212, 212, 212, 1);
	border-right: none;
	border-radius: 3px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}

.header-input input::placeholder{
	color: rgba(0, 0, 0, 0.4);
}

.header-input button{
	max-width: 56px;
	max-height: 51px;
	border: none;
	outline: none;
	background-color: rgba(224, 0, 27, 1);
	border-radius: 3px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	padding: 12px 16px;
	margin-right: 46px;
}

.header-input button:hover{
	cursor: pointer;
	background-color: rgb(187, 0, 22);
}

.header-input button img{
	height: 28px;
}

.favorites{
	background-color: #fff;
	border-radius: 3px;
	padding: 16px 15px;
	display: flex;
	align-items: center;
	text-decoration: none;
}

.favorites img{
	height: 24px;
	margin-right: 15px;
}

.favorites p{
	color: rgba(29, 29, 27, 1);
	font-weight: 600;
}

.ellipse{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 13px;
	height: 13px;
	color: #fff;
	background-color: rgba(224, 0, 27, 1);
	border-radius: 50%;
	margin-left: 15px;
}

.favorites:hover{
	background-color: rgb(234, 234, 234);
}

/* Second line end */

/* Second line start */

/* Third line start */

.Third_line{
	display: flex;
	justify-content: space-between;
	background-color: rgba(248, 248, 248, 1);
}

.third_line-buttom{
	text-decoration: none;
	color: #fff;
	padding: 16px 21px;
	display: flex;
	align-items: center;
	background-color: rgba(224, 0, 27, 1);
	font-weight: 600;
}

.third_line-buttom img{
	height: 12px;
	width: 19px;
	margin-right: 16px;
}

.third_line-buttom:hover{
	cursor: pointer;
	background-color: rgb(187, 0, 22);
}

.third_line-sections{
	text-decoration: none;
	background-color: rgba(248, 248, 248, 1);
	color: rgba(29, 29, 27, 1);
	padding: 17px 16px;
	display: flex;
	align-items: center;
}

.third_line-sections img{
	height: 16px;
	margin-right: 8px;
}

.products{
	border-right: 1px solid rgb(229, 229, 229);

}

.sale{
	color: rgba(224, 0, 27, 1);
	font-weight: 600;
}

.third_line-sections:hover{
	background-color: rgb(239, 239, 239);
}


/* Third line end */